.header {
  // background-color: aqua;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #ececec;
}

.navigation-menu {
  display: none;
}

.burger-menu {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: var(--main-background-color);
}

.burger-menu__btn {
  width: 24px;
  height: 16px;
  // color: var(--title-text-color);
  margin-left: auto;
}

.burger-menu__btn:hover {
  fill: var(--accent-text-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100vh;
  max-width: 480px;
  max-height: 796px;
  background-color: var(--main-background-color);
  transform: translateY(-100%) translateX(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 10;
  padding-left: 40px;
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__link {
  @extend %display-font;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--primery-text-color);
}

.mobile-menu__link.current {
  color: var(--accent-text-color);
  text-decoration: none;
}

.mobile-menu__item {
  display: block;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-menu__contact-tel {
  @extend %display-font;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  margin-top: 302px;
  margin-bottom: 32px;

  &:hover {
    color: var(--accent-text-color);
  }
}

.mobile-menu__contact-email {
  @extend %display-font;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  &:hover {
    color: var(--accent-text-color);
  }
}

.mobile-menu__social {
  display: block;
  display: flex;
  align-items: baseline;
  margin-top: 64px;
  padding: 0;
}

.mobile-menu__social-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.mobile-menu__social-item {
  padding-right: 10px;
  margin-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  &:last-child {
    border: none;
  }
}

.mobile-menu__btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 24px;
  height: 24px;
  background: var(--main-background-color);
  cursor: pointer;
}

.mobile-menu__cls-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  right: -385px;
  width: 40px;
  height: 40px;
  background: var(--main-background-color);
  border: none;
  padding: 0;
  cursor: pointer;
}

.is-open {
  transform: translateY(0) translateX(-50%);
}

// =====================TABLET===================

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .navigation-menu {
    display: block;
  }

  .navigation-menu__link {
    text-decoration: none;
  }
  .contact-menu {
    display: block;
  }
}

// =====================DESCTOP===================

@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid #ececec;
  }

  .header,
  .navigation {
    display: flex;
    align-items: center;
  }

  .header .container {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

// .header {
//   border-bottom: 1px solid #ececec;
// }

// .header,
// .navigation {
//   display: flex;
//   align-items: center;
// }

// .header .container {
//   display: flex;
//   align-items: center;
//   padding-top: 25px;
//   padding-bottom: 25px;
// }
