.hero {
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--section-background-color);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--main-background-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  margin-bottom: 30px;
}

.hero__button {
  padding-bottom: 200px;
}

.hero__button-link {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-background-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 0;
  border: none;
}
