.logo {
  @extend %logo-styles;
  color: #2196f3;
}

.logo__web {
  @extend %logo-styles;
  color: #212121;
}

.logo-footer {
  @extend %logo-styles;
  line-height: 1.2;
  color: var(--main-background-color);
  text-decoration: none;
  // display: block;
  // justify-content: center;
}

.logo-footer__web {
  color: var(--accent-text-color);
}

// ===============TABLET==============
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
  }
}

// .logo {
//   font-family: Raleway;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 26px;
//   line-height: 1.2;
//   color: var(--primery-text-color);
//   text-decoration: none;
//   margin-right: 93px;
// }

// .logo__web {
//   color: var(--accent-text-color);
// }

// .logo-footer {
//   font-family: Raleway;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 26px;
//   line-height: 1.2;
//   color: var(--main-background-color);
//   text-decoration: none;
//   margin-bottom: 20px;
//   display: block;
//   display: block;
// }

// .logo-footer__web {
//   color: var(--accent-text-color);
// }
