.container {
  // width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  // margin: 0 auto;
  outline: 1px solid teal;

  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .features & {
    padding: 0;
  }

  .our-team & {
    padding: 0;
  }

  .clients & {
    padding: 0;
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  .footer & {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-section & {
    padding: 0;
    margin-top: 60px;
    margin-bottom: 25px;
  }

  .portfolio & {
    padding: 0;
  }

  // .hero & {
  //   padding: 0;
  // }
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;

    .our-team & {
      display: flex;
      flex-wrap: wrap;
    }

    .portfolio & {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
