%fill-transition {
  fill: var(--icon-pasive-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

%flex-spacebetween {
  display: flex;
  justify-content: space-between;
}

%logo-styles {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
}

%display-font {
  display: block;
  font-family: Roboto;
  font-style: normal;
}
