:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-text-color: #2196f3;
  --main-background-color: #ffffff;
  --button-background-color: #f5f4fa;
  --section-background-color: #2f303a;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --icon-pasive-color: #afb1b8;
}
